/* styles/experiencesection.css */
#experience {
    background-color: #E1DD8F;
}
.experience-carousel {
    display: flex;
    overflow: hidden;
}

.experience-carousel-inner {
    display: flex;
    animation: scrollLoop 20s linear infinite; /* Adjust animation duration as needed */
}

@keyframes scrollLoop {
    0% {
    transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Move to the left by 100% of the container's width */
    }
}

.experience-card {
    flex: 0 0 auto;
    width: 80%;
    margin-right: 1rem;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
}

  /* Add this new class */
.center-button {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
}
